<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
       

    </style>
</head>
<body>
    <!-- Your HTML content here -->
    {% extends "main.html" %}
    {% block title %}Home{% endblock %}
    {% block cont %}
    <div id="container">
        <div class="container-box">
            <div class="info-student">
                
            </div>
            <div class="info-class">

            </div>
            <div class="info-student">

            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
