body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    width: 95%;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group i {
    position: absolute;
    left: 10px;
    top: 28px;
    color: #aaa;
}
.btn-save-close {
    display: flex;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 15px 10px 0;
}

button:hover {
    background-color: #0056b3;
}
.btn-close button {
    background-color: #8e2a17;
}
button i {
    margin-right: 5px;
}